:root {
  color-scheme: dark;
  font-family: sans-serif;
}

body {
  padding: 2em 5em;
}

input,
select,
textarea,
button {
  outline: none;
  border: none;
  padding: 1em;
}

button {
  text-align: center;
}

input[type="button"] {
  text-align: center;
}

input[type="button"]:hover {
  cursor: pointer;
}

input + input {
  margin-left: 4px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: 1px solid #006699;
}

input[type="checkbox"]:focus {
  outline: none;
}

label {
  margin-left: 1em;
  margin-bottom: 4px;
}

.full-width {
  width: 100%;
}

.red-border {
  border: 1px solid red;
}

table input {
  width: 100%;
}

.mt-2 {
  margin-top: 8px;
}

.mt-3 {
  margin-top: 12px;
}

.mt-4 {
  margin-top: 16px;
}

.mt-12 {
  margin-top: 48px;
}

.rounded {
  border-radius: 20px;
}

.rounded.big {
  width: calc(80% - 2em - 2px);
}

.rounded.small {
  width: calc(20% - 2em - 2px);
}

.d-flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.justify-space-between {
  justify-content: space-between;
}

.justify-space-evenly {
  justify-content: space-evenly;
}

.align-center {
  align-items: center;
}